.orange-slice-right {
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 1200px;
    float: right;
}



.up {
    z-index: 1;
}

.lottie-container {
    position: absolute;
    top: 70px;
    z-index: 0;
    overflow: hidden;
}

.front {
    z-index: 1;
}

.front-container {
    z-index: 10;
}

.bring-to-front {
    z-index: 100;
}